openapi: 3.1.0
info:
  title: Altsystem Versorger
  version: 1.0.0
  description: >-
    REST interface of the utility's simulated legacy customer system (private GitLab
    repository `legacy-versorger`, runs on the owner's server). The portal uses it for the
    lazy migration (sign-in check, customer read) and the bulk import (paged export).
    Field names and formats are the legacy system's own (German, street and house number
    separate, euros as decimal strings). Each tenant has its own database, selected by
    `X-Mandant`. Only the owner's tenant (`owner`) exists implicitly; a demo tenant
    (`pass-…`) is provisioned with `PUT /api/v1/verwaltung/mandant` and its own demo
    password, and every tenant-scoped call answers 404 `Mandant unbekannt` before that and
    after `DELETE /api/v1/verwaltung/mandant`.
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://kundenportal-versorger.rypox.com
security:
  - apiKey: []
paths:
  /health:
    get:
      operationId: health
      summary: Liveness check
      security: []
      responses:
        "200":
          description: Service is up
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status: { type: string, const: ok }
  /api/v1/anmeldung/pruefen:
    post:
      operationId: anmeldungPruefen
      summary: Check a sign-in against the stored bcrypt hash
      parameters:
        - $ref: "#/components/parameters/Mandant"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, passwort]
              properties:
                email: { type: string, maxLength: 254 }
                passwort: { type: string, maxLength: 200 }
      responses:
        "200":
          description: Password correct
          content:
            application/json:
              schema:
                type: object
                required: [kundennummer]
                properties:
                  kundennummer: { $ref: "#/components/schemas/Kundennummer" }
        "400": { $ref: "#/components/responses/Fehler" }
        "401": { $ref: "#/components/responses/Fehler" }
        "404": { $ref: "#/components/responses/MandantUnbekannt" }
  /api/v1/kunden:
    get:
      operationId: kundeSuchen
      summary: Find a customer by email address
      parameters:
        - $ref: "#/components/parameters/Mandant"
        - name: email
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Zero or one customer
          content:
            application/json:
              schema:
                type: object
                required: [kunden]
                properties:
                  kunden:
                    type: array
                    maxItems: 1
                    items: { $ref: "#/components/schemas/Kunde" }
        "400": { $ref: "#/components/responses/Fehler" }
        "401": { $ref: "#/components/responses/Fehler" }
        "404": { $ref: "#/components/responses/MandantUnbekannt" }
  /api/v1/kunden/{kundennummer}:
    get:
      operationId: kundeLesen
      summary: Read a customer with contracts
      parameters:
        - $ref: "#/components/parameters/Mandant"
        - name: kundennummer
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Kundennummer" }
      responses:
        "200":
          description: Customer
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Kunde" }
        "401": { $ref: "#/components/responses/Fehler" }
        "404":
          description: Customer not found (`Kunde nicht gefunden`) or tenant unknown (`Mandant unbekannt`)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Fehler" }
  /api/v1/kunden/export:
    get:
      operationId: kundenExportieren
      summary: Export all customers page by page, including the bcrypt hashes
      parameters:
        - $ref: "#/components/parameters/Mandant"
        - name: seite
          in: query
          schema: { type: integer, minimum: 1, default: 1 }
        - name: groesse
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 50 }
      responses:
        "200":
          description: One page, ordered by customer number
          content:
            application/json:
              schema:
                type: object
                required: [seite, groesse, gesamt, kunden]
                properties:
                  seite: { type: integer }
                  groesse: { type: integer }
                  gesamt: { type: integer, description: Number of customers in total }
                  kunden:
                    type: array
                    items:
                      allOf:
                        - $ref: "#/components/schemas/Kunde"
                        - type: object
                          required: [passwortHash]
                          properties:
                            passwortHash:
                              type: string
                              description: bcrypt hash (`$2b$…`)
        "400": { $ref: "#/components/responses/Fehler" }
        "401": { $ref: "#/components/responses/Fehler" }
        "404": { $ref: "#/components/responses/MandantUnbekannt" }
  /api/v1/verwaltung/zuruecksetzen:
    post:
      operationId: mandantZuruecksetzen
      summary: Recreate the tenant's sample data (demo reset)
      description: >-
        The owner's tenant takes no body and keeps the global demo password. A demo tenant
        needs its demo password again, since the legacy system keeps only hashes of it.
      parameters:
        - $ref: "#/components/parameters/Mandant"
      requestBody:
        required: false
        description: Required for demo tenants, ignored for `owner`
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Einrichtung" }
      responses:
        "200":
          description: Sample data recreated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, const: zurückgesetzt }
        "400": { $ref: "#/components/responses/Fehler" }
        "401": { $ref: "#/components/responses/Fehler" }
        "404": { $ref: "#/components/responses/MandantUnbekannt" }
  /api/v1/verwaltung/mandant:
    put:
      operationId: mandantEinrichten
      summary: Provision a demo tenant with its own demo password
      description: >-
        (Re)creates the tenant's database with sample data whose demo persons sign in with
        `demoPasswort`. Idempotent: a second call recreates the tenant. The owner's tenant
        cannot be provisioned.
      parameters:
        - $ref: "#/components/parameters/Mandant"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Einrichtung" }
      responses:
        "201":
          description: Tenant (re)created
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status: { type: string, const: eingerichtet }
        "400": { $ref: "#/components/responses/Fehler" }
        "401": { $ref: "#/components/responses/Fehler" }
        "409": { $ref: "#/components/responses/Fehler" }
    delete:
      operationId: mandantLoeschen
      summary: Delete a demo tenant's database (expired demo pass)
      description: Idempotent; an unknown tenant counts as deleted. The owner's tenant stays.
      parameters:
        - $ref: "#/components/parameters/Mandant"
      responses:
        "204":
          description: Tenant deleted (or did not exist)
        "401": { $ref: "#/components/responses/Fehler" }
        "409": { $ref: "#/components/responses/Fehler" }
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-Api-Key
  parameters:
    Mandant:
      name: X-Mandant
      in: header
      description: Tenant; default `owner`
      schema: { type: string, pattern: "^[a-z0-9][a-z0-9-]{0,39}$" }
  responses:
    Fehler:
      description: Error
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Fehler" }
    MandantUnbekannt:
      description: >-
        Tenant unknown (`Mandant unbekannt`): a demo tenant that has not been provisioned
        or was deleted
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Fehler" }
  schemas:
    Fehler:
      type: object
      required: [fehler]
      properties:
        fehler: { type: string }
    Einrichtung:
      type: object
      required: [demoPasswort]
      properties:
        demoPasswort:
          type: string
          minLength: 12
          maxLength: 128
          description: Password of the tenant's demo persons, chosen by the portal
    Kundennummer:
      type: string
      pattern: "^V-\\d{7}$"
      examples: [V-1000123]
    Kunde:
      type: object
      required:
        [
          kundennummer,
          anrede,
          vorname,
          nachname,
          email,
          telefon,
          geburtsdatum,
          strasse,
          hausnummer,
          plz,
          ort,
          letzteAnmeldung,
          vertraege,
        ]
      properties:
        kundennummer: { $ref: "#/components/schemas/Kundennummer" }
        anrede: { type: string, enum: [Frau, Herr, ""] }
        vorname: { type: string }
        nachname: { type: string }
        email: { type: [string, "null"], description: Missing for some old customers }
        telefon: { type: [string, "null"], description: Partly in outdated formats (`0341/445566`) }
        geburtsdatum: { type: [string, "null"], format: date }
        strasse: { type: string }
        hausnummer: { type: string }
        plz: { type: string }
        ort: { type: string }
        letzteAnmeldung: { type: string, format: date-time }
        vertraege:
          type: array
          items: { $ref: "#/components/schemas/Vertrag" }
    Vertrag:
      type: object
      required:
        [vertragsnummer, sparte, tarif, abschlag, zaehlernummer, letzterZaehlerstand, beginn]
      properties:
        vertragsnummer: { type: string, examples: [SV-778812] }
        sparte: { type: string, enum: [STROM, GAS, WASSER] }
        tarif:
          {
            type: string,
            examples: [Strom Klassik, Strom Öko, Gas Komfort, Gas Klima, Wasser Basis],
          }
        abschlag:
          type: string
          pattern: "^\\d+\\.\\d{2}$"
          description: Monthly installment in euros as decimal string
        zaehlernummer: { type: string }
        letzterZaehlerstand:
          type: object
          required: [wert, ablesedatum]
          properties:
            wert: { type: integer, description: kWh (electricity) or m³ (gas, water) }
            ablesedatum: { type: string, format: date }
        beginn: { type: string, format: date }
